# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore a specific folder
catboost_info/

# Ignore a specific file
report.txt

# Ignore all text files
*.txt

# Ignore all CSV files inside a specific folder


# Ignore all log files inside a specific folder but track `important.log`
logs/report.log
!logs/important.log
